._acompanhamento {

	margin-top: 20px;

	.item-accordion.item {
		padding: 0px;
	}

	.item {

		padding: 0px;

		&:hover {
			color: $primary-color-4;
			background-color: $primary-color-2;
		}

		&.active {
			color: $primary-color-4;
			background-color: $primary-color-2;
		}
	}

	.list-item {
		padding: 10px 10px;
	}

	.nome {
		float: left;
		@extend .list-item;
	}

	.presenca {
		float: right;
		@extend .list-item;
		color: $primary-color-2;
		background-color: $primary-color-3;
	}
}
