button {
	margin-top: 100px;
}

.button,
.bar-dark .button,
.bar-dark .button.button-icon,
.button.button-positive {
	background-color: $primary-color-1;
	color: $primary-color-4;

	&:hover {
		background-color: $primary-color-4;
		color: $primary-color-1;
	}
}

span.back-text {
	color: $primary-color-4;
}

.button-minor{
	border: none;
	background-color: white;
	width:40px;
	height:40px;
	border-radius:50px;
	font-size:180%;
	text-align:center;
	 border: 3px solid #A8A8A8 ;
}

.button-chamada{
	border: none;
	background-color: white;
	width:80px;
	height:80px;
	border-radius:50px;
	font-size:300%;
	margin: auto;
	border-style: solid;
	text-align:center;
 border: 3px solid #A8A8A8 ;
}

.button-check{
	@extend .button-chamada;
	color:green;
}

.button-denied{
	@extend .button-chamada;
	color:red;
}
.button-back{
	@extend .button-minor;
	color:orange;
}
.button-info{
	@extend .button-minor;
	color:#0099FF;
}
