ion-content {
    background-color: $primary-color-0;
}

ion-header-bar {
    background-color: $primary-color-0 !important;
}

.bar.bar-stable .title  {
    background-color: $primary-color-0;
    color: $color-text !important;
    margin: 0px;
    font-size: $huge;
}
