._confirmacao-chamada {

  .item-checkbox-right .checkbox input,
  .item-checkbox-right .checkbox-icon {
    float: right;
  }

  .item-checkbox.item-checkbox-right {
    /*the default item padding*/
    padding: 15px;
  }
}