._matricula-aluno {

	.conteudo {
		margin-top: 5% !important;
	}

	.foto-aluno {
		width: 35%;
	}

	.matricula-input-text{
		text-align: left;
		width: 100%;
	}

	.matricula-input {
    background: rgba(255,255,255, .35)!important;
		width: 100%;
	}

	.file-upload {
		margin-top: 5%;
		text-align: center;
	}

	.save-button {
		margin-top: 5%;
    margin-left: 80%;
		text-align: center;
	}
}
