<ion-view view-title="Confirmação de chamada">
    <ion-content class="_confirmacao-chamada">
        <div class="conteudo">
            <div class="list">
                <ion-checkbox ng-repeat="item in devList"
                              ng-model="item.checked"
                              ng-checked="item.checked"
                              class="item-checkbox-right">
                    {{ item.text }}
                </ion-checkbox>

            </div>
            <div class="button-bar">
                <a class="button cancelar">Cancelar</a>
                <a class="button">Confirmar</a>
            </div>

        </div>
    </ion-content>
</ion-view>