<ion-view view-title="Presença">
    <ion-content class="_lista-chamada">
        <div class="conteudo">
            <h4>Turma: XXX</h4>
            <div class="list">
                <ion-checkbox ng-repeat="item in devList"
                              ng-model="item.checked"
                              ng-checked="item.checked"
                              class="item-checkbox-right">
                    {{ item.text }}
                </ion-checkbox>

            </div>
            <div class="button-bar">
                <a class="button button-outline">Cancelar</a>
                <a class="button button-outline">Confirmar</a>
            </div>

        </div>
    </ion-content>
</ion-view>